body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.container {
    width: 600px;
    text-align: center;
}
input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#timeChart {
    max-width: 300%;
    height: auto;
}
